{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Чат - {{ chat_name }}</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{% static 'chat/js/room.js' %}"></script>
</head>
<body>
	<section>
		<form method="post" id="file-upload-form" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form }}
			{{ form1 }}
			<input type="submit" name="">
		</form>
    </div>
	</section>	
</body>
</html>